// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment_box{
  border: 2px black solid;
  margin: 2px;
  width: 300px;
  padding: 3px;

}

.delete{
  text-align: right;
}